* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding: 0 32px;
  max-width: 1180px;
  margin: 0 auto;
}

#nav-top {
  display: block;
  background-color: #f8f9fa;
  padding: 20px 10px;
}
#nav-top .nav-top {
  display: flex;
  justify-content: space-between;
}
#nav-top .nav-top .nav-top-icons i {
  font-size: 25px;
}
#nav-top .nav-top .nav-top-text {
  display: flex;
  gap: 20px;
}
#nav-top .nav-top .nav-top-text i {
  margin-right: 15px;
  color: #f59021;
}

nav {
  background: white;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
nav .navbar .nav-logo h2 {
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
}
nav .navbar .nav-logo h2 span {
  color: #f59021;
  margin: 0;
  padding: 0;
}
nav .navbar .nav-menu {
  display: none;
}
nav .navbar .nav-list {
  display: flex;
}
nav .navbar .nav-list li {
  padding: 40px 15px;
  list-style: none;
}
nav .navbar .nav-list li span {
  color: #f59021;
}
nav .navbar .nav-list li a {
  text-decoration: none;
  color: #000000;
}
nav .navbar .nav-list li i {
  margin-left: 10px;
}

#banner {
  padding-top: 150px;
  padding-bottom: 100px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.4) 100%), url(../images/hero_2.jpg.webp);
  background-attachment: fixed;
  background-size: cover;
}
#banner .banner {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#banner .banner .banner-text {
  width: 55%;
}
#banner .banner .banner-text h1 {
  font-size: 80px;
  color: white;
  line-height: 96px;
  font-weight: 900;
}
#banner .banner .banner-text p {
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}
#banner .banner .banner-btn button {
  padding: 15px 40px;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}
#banner .banner .banner-btn .btn1 {
  background-color: transparent;
  border: 3px solid white;
  color: white;
}

.myModal {
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.myModal .modal-content {
  position: relative;
  padding: 20px;
  background-color: white;
  width: 100%;
}
.myModal .modal-content .modal-list li {
  list-style: none;
  padding-bottom: 30px;
}
.myModal .modal-content .modal-list li a {
  text-decoration: none;
  color: #000000;
}
.myModal .modal-content span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 35px;
  cursor: pointer;
}

#products {
  padding-top: 100px;
  padding-bottom: 100px;
}
#products .products {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
#products .products .products-text h2 {
  padding-bottom: 50px;
}
#products .products .products-text input {
  padding: 10px;
  min-width: 250px;
}
#products .products .product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
#products .products .product-container .product-image {
  width: 100%;
}
#products .products .product-container .product-image img {
  max-width: 100%;
}

@media screen and (max-width: 992px) {
  nav .navbar {
    padding: 20px;
  }
  nav .navbar .nav-menu {
    display: block;
  }
  nav .navbar .nav-menu i {
    font-size: 26px;
    cursor: pointer;
  }
  nav .navbar .nav-list {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */